# Prerequisites
*.d

# File Clion
.idea
.DS_Store
Diagramme/.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temp file Diagramme
Diagramme/*.bak*
Diagramme/.Rtype*

# Executables
*.exe
*.out
*.app
RtypeServer
RtypeClient

# Cmake
CMakeFiles/*
CMakeCache.txt
Makefile
Rtype.cbp
cmake-build-debug/*
cmake_install.cmake
cmake_modules/*

# Log files
log*